:root {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: block; /* Убираем возможный flex от Vite */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a; /* Темный фон как на скрине */
  color: white;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
html {
          scroll-behavior: smooth;
        }
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f0c29; 
}
::-webkit-scrollbar-thumb {
  background: #6366f1; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6; 
}