@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block; /* Убираем возможный flex от Vite */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a; /* Темный фон как на скрине */
  color: white;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
